---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <article class="post-extract">
          {% if post.summary %}
            {{ post.summary }}
            <a href="{{ post.url }}"> >></a>
          {% endif %}
          <div>
            <span class="post-meta">
              {% assign m = post.date | date: "%-m" %}
              {{ post.date | date: "%-d" }}
              {% case m %}
                {% when '1' %}janvier
                {% when '2' %}février
                {% when '3' %}mars
                {% when '4' %}avril
                {% when '5' %}mai
                {% when '6' %}juin
                {% when '7' %}juillet
                {% when '8' %}août
                {% when '9' %}septembre
                {% when '10' %}octobre
                {% when '11' %}novembre
                {% when '12' %}décembre
              {% endcase %}
              {{ post.date | date: "%Y" }}
            </span>
          </div>
        </article>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous"><< </a>
    {% else %}
      <span class="previous disabled"><< </span>
    {% endif %}
    <span class="page_number ">page {{ paginator.page }} sur {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next"> >></a>
    {% else %}
      <span class="next disabled"> >></span>
    {% endif %}
  </div>

</div>
